/*-----------------------
  -----------------------
  BetterDiscord Name Tags
  -----------------------
  -----------------------*/

/*------------------------
  Settings
  ------------------------*/

/* Global Bot Tag */
.bot-tag {
    color: #000!important;
    background: #708fff;
}

.channel-members .bot-tag {
    height: 14px!important;
    line-height: 15px!important;
    margin-left: 4px;
    margin-top: 1.24px;
}

/* Global Bot Tag Profile */
.bot-tag.bot-tag-invert {
    background: #708fff;
    color: #FFFFFF!important;
}

/* Rainbow  */
@keyframes rainbow {
    10% { background-color: #9400D3; }
    20% { background-color: #4B0082; }
    30% { background-color: #0000FF; }
    40% { background-color: #00FF00; }
    50% { background-color: #FFFF00; }
    60% { background-color: #FF7F00; }
    70% { background-color: #FF0000; }
    80% { background-color: #1AFFA8; }
    90% { background-color: #0027FF; }
    100% { background-color: #FF0080; }
}

/*------------------------
  Name Tags
  ------------------------*/

/* Eden */
.avatar-small[style*="142795541833580544"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="142795541833580544"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="277631928365088769"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="277631928365088769"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="281944046908473345"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="281944046908473345"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="292395886162477058"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="292395886162477058"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="303244067524050944"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="303244067524050944"]+.comment .username-wrapper .user-name:after {
    content: "Eden";
    background: #FF0080;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* Add the next 2 lines to use rainbow colours :3 */
    -webkit-animation: rainbow 20s linear infinite;
    animation: rainbow 20s linear infinite;
}

/* EdenBot */
.avatar-small[style*="275721083154595842"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="275721083154595842"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="285938587873181696"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="285938587873181696"]+.comment .username-wrapper .user-name:after {
    content: "EdenBot";
    background: #FF0080;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    height: ;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Fake Bots */
.avatar-small[style*="285921877942206464"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="285921877942206464"]+.comment .username-wrapper .user-name:after {
    content: "Bot";
    background: #7289DA;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Jag */
.avatar-small[style*="113156185389092864"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="113156185389092864"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="194257036828082176"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="194257036828082176"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="210805198002585600"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="210805198002585600"]+.comment .username-wrapper .user-name:after {
    content: "JAG";
    background: #8FC73E;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* JagBot */
.avatar-small[style*="135251434445733888"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="135251434445733888"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="162311503821799425"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="162311503821799425"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="240254129333731328"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="240254129333731328"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="174202555981758464"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="174202555981758464"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="197531150900658176"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="197531150900658176"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="159133099806949376"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="159133099806949376"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="210805198002585600"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="210805198002585600"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="247283454440374274"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="247283454440374274"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="290602874596229122"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="290602874596229122"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="196667982993162240"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="196667982993162240"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="227323729116397568"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="227323729116397568"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="315369121648738315"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="315369121648738315"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="294882584201003009"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="294882584201003009"]+.comment .username-wrapper .user-name:after,
/* Userbots */
.avatar-small[style*="205734749552115712"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="205734749552115712"]+.comment .username-wrapper .user-name:after {
    content: "JAGBOT";
    background: #8FC73E;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Super */
.avatar-small[style*="130070621034905600"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="130070621034905600"]+.comment .username-wrapper .user-name:after {
    content: "SUPER";
    background: #FF4C4C;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Super's Bots */
.avatar-small[style*="170903342199865344"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="170903342199865344"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="210879254378840074"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="210879254378840074"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="247582105813385216"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="247582105813385216"]+.comment .username-wrapper .user-name:after {
    content: "SUPER";
    background: #F1C40F;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Matmen */
.avatar-small[style*="254696880120791040"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="254696880120791040"]+.comment .username-wrapper .user-name:after {
    content: "MATMEN";
    background: #ff0000;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Matmens Bots */
.avatar-small[style*="277411860125581312"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="277411860125581312"]+.comment .username-wrapper .user-name:after {
    content: "MATMEN";
    background: #e74c3c;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Ollie */
.avatar-large[style*="289188485590548480"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="289188485590548480"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="161644086938304521"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="161644086938304521"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="243889575292829696"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="243889575292829696"]+.member-inner .member-username .member-username-inner:after {
    content: "Ollie";
    background: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* H3RO */
.avatar-large[style*="183756588220284928"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="183756588220284928"]+.member-inner .member-username .member-username-inner:after {
    content: "H3RO";
    background: #ff167c;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Chrissy Chris */
.avatar-large[style*="206571556065902593"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="206571556065902593"]+.member-inner .member-username .member-username-inner:after {
    content: "Chrissy";
    background: #0f0000;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}


/* Spore */
.avatar-large[style*="107977594804133888"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="107977594804133888"]+.member-inner .member-username .member-username-inner:after {
    content: "Spore";
    background: #4bda6d;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Lauren */
.avatar-large[style*="205529980715663360"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="205529980715663360"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="289786711456743425"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="289786711456743425"]+.member-inner .member-username .member-username-inner:after {
    content: "LAUREN";
    background: #EB9897;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Natalie */
.avatar-large[style*="146739643143028737"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="146739643143028737"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="249309158665355266"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="249309158665355266"]+.member-inner .member-username .member-username-inner:after {
    content: "NATALIE";
    background: #ff9df3;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Katy */
.avatar-large[style*="264731257928155136"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="264731257928155136"]+.member-inner .member-username .member-username-inner:after {
    content: "KATY";
    background: #FF0000;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Eden */
.avatar-small[style*="302645250059665409"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="302645250059665409"]+.comment .username-wrapper .user-name:after  {
    content: "NOTEDEN";
    background: #380091;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* B4ss */
.avatar-large[style*="183275078715179008"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="183275078715179008"]+.member-inner .member-username .member-username-inner:after {
    content: "B4SS";
    background: #9e00ff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Patches */
.avatar-large[style*="191309980148826113"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="191309980148826113"]+.member-inner .member-username .member-username-inner:after {
    content: "Patches";
    background: #ff81f7;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Mexico */
.avatar-large[style*="98140981047611392"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="98140981047611392"]+.member-inner .member-username .member-username-inner:after {
    content: "Mexico";
    background: #ffa07a;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Owner */
.avatar-large[style*="128545397122662400"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="128545397122662400"]+.member-inner .member-username .member-username-inner:after {
    content: "Shale";
    background: #2ecc71;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Mosh */
.avatar-large[style*="182152242219057152"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="182152242219057152"]+.member-inner .member-username .member-username-inner:after {
    content: "Mosh";
    background: #97f8f0;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Nick */
.avatar-large[style*="219974183101267968"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="219974183101267968"]+.member-inner .member-username .member-username-inner:after {
    content: "Nick";
    background: #11806a;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Spoon */
.avatar-large[style*="293058845289349121"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="293058845289349121"]+.member-inner .member-username .member-username-inner:after {
    content: "Spoon";
    background: #adccff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    overflow:visible!important ;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Katie */
.avatar-large[style*="281249116585984000"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="281249116585984000"]+.member-inner .member-username .member-username-inner:after {
    content: "Katie";
    background: #adccff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    overflow:visible!important ;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Viri */
.avatar-large[style*="82300663798706176"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="82300663798706176"]+.member-inner .member-username .member-username-inner:after {
    content: "Viri";
    background: #79dcff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* Florreta */
.avatar-small[style*="139386544275324928"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="139386544275324928"]+.comment .username-wrapper .user-name:after {
    content: "FLO";
    background: #31cbcb;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Matt Clarke */
.avatar-small[style*="132463420648718337"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="132463420648718337"]+.comment .username-wrapper .user-name:after {
    content: "MATT";
    background: #C866FF;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* DoomSay */
.avatar-small[style*="206277069678575616"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="206277069678575616"]+.comment .username-wrapper .user-name:after {
    content: "DOOM";
    background: #ffffff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Kristine */
.avatar-small[style*="164056221928652800"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="164056221928652800"]+.comment .username-wrapper .user-name:after {
    content: "Kristine";
    background: #ad1457;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Milosh */
.avatar-small[style*="165186927086010368"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="165186927086010368"]+.comment .username-wrapper .user-name:after {
    content: "Milosh";
    background: #206694;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Chink */
.avatar-small[style*="132256368353607681"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="132256368353607681"]+.comment .username-wrapper .user-name:after {
    content: "CHINK";
    background: #f1c40f;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Satan */
.avatar-small[style*="290133465410830347"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="290133465410830347"]+.comment .username-wrapper .user-name:after {
    content: "SATAN";
    background: #FF0000;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Ben */
.avatar-small[style*="171028145246437376"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="171028145246437376"]+.comment .username-wrapper .user-name:after {
    content: "BEN";
    background: #000001;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Celaena */
.avatar-small[style*="165808748491702272"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="165808748491702272"]+.comment .username-wrapper .user-name:after {
    content: "CELA";
    background: #fd00fd;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Pointy */
.avatar-small[style*="99914384989519872"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="99914384989519872"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="232462294414655488"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="232462294414655488"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="170920302409285633"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="170920302409285633"]+.comment .username-wrapper .user-name:after {
    content: "Pointy";
    background: #00FF8F;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* PointyBot */
.avatar-small[style*="230396925940203520"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="230396925940203520"]+.comment .username-wrapper .user-name:after {
    content: "PointyBot";
    background: #00FF8F;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Jenna */
.avatar-large[style*="184043304005009410"]+.comment .username-wrapper .user-name:after,
.avatar-small[style*="184043304005009410"]+.member-inner .member-username .member-username-inner:after {
    content: "Jenna";
    background: #FF1D8E;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

/* GhostFreak */
.avatar-small[style*="263314361085460480"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="263314361085460480"]+.comment .username-wrapper .user-name:after {
    content: "Ghost";
    background: #ffffff;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Gallium */
.avatar-small[style*="158272711146209281"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="158272711146209281"]+.comment .username-wrapper .user-name:after {
    content: "Gallium";
    background: #32CD32;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Marc */
.avatar-small[style*="120333451894325249"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="120333451894325249"]+.comment .username-wrapper .user-name:after {
    content: "Marc";
    background: #00ff00;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Kaden */
.avatar-small[style*="212642964026032130"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="212642964026032130"]+.comment .username-wrapper .user-name:after {
    content: "Kaden";
    background: #15E5EE;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Celaena */
.avatar-small[style*="165808748491702272"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="165808748491702272"]+.comment .username-wrapper .user-name:after {
    content: "Celaena";
    background: #FD00FD;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Wicked Lizard */
.avatar-small[style*="201582886137233409"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="201582886137233409"]+.comment .username-wrapper .user-name:after {
    content: "Lizard";
    background: #429bf4;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/* Cats */
/*
.avatar-small[style*="130501049734791169"]+.member-inner .member-username .member-username-inner:after,
.avatar-large[style*="130501049734791169"]+.comment .username-wrapper .user-name:after {
    content: "Cats";
    background: #FD00FD;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;*/


/*------------------------
  Legacy/Unused
  ------------------------*/

/*.member-inner .member-username .bot-tag.kawaii-tag {
    display: unset!important;
    text-indent: unset!important;
}
.member-inner .member-username .bot-tag.kawaii-tag:after,
.member-inner .member-username .member-username-inner+.bot-tag.kawaii-tag:after {
    display: none!important;
    left: unset!important;
    position: unset!important;
}
.member-inner .member-username .member-username-inner+.bot-tag:after {
    left: 9971px;
    position: relative;
    content: "BOT";
    background: #7289da!important;
    font-size: 10px;
    font-weight: 600;
    color: #000!important;
    margin-left: 6px;
    padding: 1px 2px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.member-inner .member-username .member-username-inner+.bot-tag {
    background: 0;
    display: block;
    text-indent: -9999px;
}
/* .comment .username-wrapper .user-name+.bot-tag:after
.comment .username-wrapper .user-name+.bot-tag */

/* Bot Tag Removal */

/* JagBot Bot Tag Hide */
/*.avatar-small[style*="135251434445733888"]+.member-inner .bot-tag,
.avatar-small[style*="162311503821799425"]+.member-inner .bot-tag,
.avatar-small[style*="240254129333731328"]+.member-inner .bot-tag,
.avatar-small[style*="174202555981758464"]+.member-inner .bot-tag,
.avatar-small[style*="197531150900658176"]+.member-inner .bot-tag,
.avatar-small[style*="159133099806949376"]+.member-inner .bot-tag,
.avatar-small[style*="210805198002585600"]+.member-inner .bot-tag,
.avatar-small[style*="247283454440374274"]+.member-inner .bot-tag,
.avatar-small[style*="290602874596229122"]+.member-inner .bot-tag {
    display: none;
}

/* NotSoBot Bot Tag Hide */
/*.avatar-small[style*="170903342199865344"]+.member-inner .bot-tag {
    display: none;
}

/* PointyBot Bot Tag Hide */
/*.avatar-small[style*="230396925940203520"]+.member-inner .bot-tag {
    display: none;
}

/* EdenBot Bot Tag Hide */
/*.avatar-small[style*="275721083154595842"]+.member-inner .bot-tag,
.avatar-small[style*="285938587873181696"]+.member-inner .bot-tag {
    display: none;
}